@import "zmienne";
@import "mixins";

body {
    background-color: $background-body;
}

p {
    color: $font;
}

nav {
    @include menu-nawigacyjne;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: yellow;
    @include custom-border-radious(50%)
}
